
body {
    margin: 0;
    line-height: normal;
}


:root {

    /* fonts */
    --bold-28-8: OpenSans;

    /* font sizes */
    --medium-24-8-size: 24px;
    --bold-28-8-size: 28px;
    --bold-56-8-size: 56px;
    --font-size-17xl: 36px;
    --font-size-57xl: 76px;

    /* Colors */
    --green-dark: #3A5A40;
    --main-green-dark: #556B2F;
    --green-light: #A3B18A;

    --main-beige: #D9CAB3;
    --beige-light: #E1D8C0;
    --main-white: #FDFDF6;
    --yellow: #F1F1DE;
    --yellow-my: #F1F1DE;
    --yellow-opasity: rgba(241, 241, 222, 0.8);

    --orange-my: #D97706;
    --orange-dark: #a85c05;
    --greey-my: #B8B8B8;
    --black-my: #373737;
    --blue-my: #AEC6CF;



    /*--green-200: #e3eee0;
    --green-300:#CDE1C7;
    --green-400:#B1D0A8;
    --green-500: #8fbc82;
    --green-800: #2B4324;
    --yellow-200: #fafbc9;
    --yellow-400: #f8f9ab;
    --yellow-500: #F5F786;
    --color: #2e363e;*/


    /* Gaps */
    --gap-base: 16px;
    --gap-11xl: 30px;
    --gap-3xs: 10px;
    --gap-xs: 12px;

    /* Paddings */
    --padding-21xl: 40px;
    --padding-7xs: 6px;
    --padding-5xs: 8px;
    --padding-3xs: 10px;

    /* Border radiuses */
    --br-8xs: 5px;
    --br-981xl: 1000px;
    --br-3xs: 10px;

    /* Effects */
    --effect: 2px 8px 16px rgba(194, 198, 208, 0.06);
}
